@media screen and (max-width:568px) {
  .wrapper{
    max-width: 100%;
    letter-spacing: 1px;
  }

  .landingpage {
    height: 300px;
  }

  .landingpage img {
    right: 13%;
}

  .landing {
    top: -10%;
    left: 5%;
    line-height: 1.2;
  }

  .intro_scroll_down {
    display: none;
  }

  h1 {
    font-size: 60px;
  }

  #logo {
    top: 5%;
  }

  #about {
    top: 5%;
  }

  #jobs {
    bottom: 3%;
  }

  #licence {
    bottom: 3%;
  }

  .gallery:nth-child(even){
    padding-top: 0px;
    margin: 50px auto 0px;
  }

  .gallery:not(:first-child){
    margin: 50px auto 0px;
  }

  .gallery {
    margin: 50px auto 0px;
    max-width: 100%;
    padding: 0 15px;
  }

  .gallery_img {
    left: 0%;
  }

  .aboutme {
    left: 0;
    padding: 0 15px;
  }

  .about_textarea {
    width: 100%;
    margin-bottom: 80px;
    margin-top: 50px;
  }

  /*******project1 part start*******/
  .project_introduce{
    padding-top: 60px;

  }

  .project_image{
    padding: 10px 15px 0;
  }

  .top{
    width: 60%;
    height: 40vh;
  }

  .top_img{
    height: 40vh;
  }

  .top .top_img img {
    transform: translate(-51%, -5%);
}

  .project_introduce ul li{
    display: block;
    width: 100%;
  }

  .project_introduce ul li:nth-child(1){
    width: 100%;
  }

  /*******project1 part end*******/
}
