@media screen and (max-width:568px) {
  .wrapper {
    max-width: 100%;
    letter-spacing: 1px;
    padding-left: 5vw;
  }

  .landingpage {
    height: 300px;
  }

  .landingpage img {
    right: 13%;
  }

  .landing {
    top: 12%;
    left: 5%;
    line-height: 1.2;
    transform: unset;
  }
  
  .landing h1{
    font-size: 40px;
  }

  .landing h1 span{
    font-size: 50px;
  }

  .intro_scroll_down {
    display: none;
  }

  h1 {
    font-size: 60px;
  }

  #logo {
    top: 5%;
  }

  #about {
    top: 5%;
  }

  #jobs {
    bottom: 6%;
  }

  #licence {
    bottom: 3%;
  }

  #back{
    top: 5%;
  }


  .gallery:not(:first-child) {
    margin: 10px auto 0px;
  }

  .gallery:nth-child(even) {
    padding-top: 0px;
    margin: 50px auto 0px;
  }

  .gallery {
    margin: 10px auto 0px;
    max-width: 100%;
    padding: 0 15px;
  }

  .gallery_img {
    left: 0%;
    min-height: 140px;
    max-height: 180px;
  }

  .gallery_img .gallery_img_block{
    width: 30px;
  }

  .project_name p{
    font-size: 12px;
  }

  .aboutme {
    left: 0;
    padding: 0 15px;
  }

  .about_textarea {
    width: 100%;
    margin-bottom: 80px;
    margin-top: 50px;
  }

  /*******project1 part start*******/
  .project_introduce {
    padding-top: 40px;

  }

  .project_image {
    padding: 10px 15px 0;
  }

  .top {
    width: 100%;
    height: 24vh;
  }

  .top_words {
    font-size: 32px;
  }

  .project_introduce ul li {
    display: block;
    width: 100%;
  }

  .project_introduce ul li:nth-child(1) {
    width: 100%;
  }

  .project_introduce .introduce_block{
    display: block;
  }

  .project_introduce .introduce_block .i_item:nth-child(1){
    width: 100%;
    padding: 0;
  }

  .project_introduce .introduce_block .i_item.role{
    padding-left: 0;
  }

  .top_link{
    width: 70px;
  }

  .top_link a{
    font-size: 12px;
  }

  .top_link a::after{
    width: 70px;
    height: 70px;
  }

  .project_part .p_content{
    width: 100%;
  }

  .project_part .p_paregragh{
    margin-top: 60px;
  }

  .project_part .p_title h4{
    margin-top: 40px;
  }

  /*******project1 part end*******/
}