* {
  color: #121111;
  transition: .3s;
  -webkit-transition: .3s;
}

@font-face {
  font-family: 'LucidaGrande';
  src: local("LucidaGrande") ， url('..font//LucidaGrande.woff') format("woff"),
    url('../font/LucidaGrande.ttf') format("opentype"),
    url('../font/Helvetica.eot') format("embedded-opentype");
}

@font-face {
  font-family: 'BowlbyOneSC';
  src: url(../font/BowlbyOneSC-Regular.ttf);
}

body {
  background: url(../img/bg.jpg) top repeat;
  /* background-size: cover; */
  font-family: 'LucidaGrande', 'Noto Sans TC', "Helvetica Neue", Helvetica, Arial;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 0;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  padding-left: 16vw;
  padding-right: 5vw;
  letter-spacing: 1.5px;
}

/*******header part start*******/
header {
  z-index: 300;
}

.edge {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#logo {
  position: fixed;
  left: 3%;
  top: 6%;
  text-align: left;
}

#jobs {
  position: fixed;
  left: 3%;
  bottom: 10%;
  text-align: left;
  z-index: 5;
}

#about {
  position: fixed;
  right: 3%;
  top: 6%;
  text-align: right;
  z-index: 5;
}

#licence {
  position: fixed;
  left: 3%;
  bottom: 6%;
  text-align: right;
  z-index: 5;
}

.bar {
  right: 1%;
  height: 15px;
  border: 2.5px solid;
  color: #121111;
  border-radius: 30%;
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
}

#about:hover .switch,
#about:active .switch {
  padding-top: 10px;
  transition: .3s;
  -webkit-transition: .3s;
}

.switch {
  text-align: center;
  margin: 0 auto;
}

hr {
  margin-top: 0rem;
  margin-bottom: 0rem;
  border: 0px;
  border-top: 100px solid #000;
}

/*******header part end*******/
/*******content part start*******/
.contents {
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 100px;
}

/*******landing part start*******/
.landingpage {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.landingpage img {
  position: absolute;
  width: 40%;
  right: 5%;
  top: 20%;
}

.landing {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  line-height: 1.2;
  font-family: 'BowlbyOneSC';

}

.landing h1 {
  font-weight: normal;
}

.landing h1 span {
  color: #750606;
}

.intro_scroll_down {
  position: absolute;
  text-align: center;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro_scroll_down:hover {
  bottom: 9%;
}

.intro_scroll_top {
  position: absolute;
  text-align: center;
  height: 20px;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*******landing part end*******/
/***gallery part start*****/
.gallery_wall {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.gallery {
  width: 50%;
  text-align: center;
}

.gallery:not(:first-child) {
  margin-top: -5%;
}

.gallery:nth-child(even) {
  margin-top: 20%;
}

.project_name {
  vertical-align: top;
  color: #121111;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0;
  padding-top: 10px;
  text-align: left;
}

.project_name p {
  color: #8a8686;
}

.gallery_img {
  left: 0%;
  min-width: 50%;
  max-width: 480px;
  padding: 0;
  background-color: #750606;
  min-height: 480px;
  max-height: 480px;
  overflow: hidden;
  position: relative;
  opacity: .9;
  transition: .3s ease-out;
}

.gallery_img .gallery_img_block {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery_img img {
  width: 100%;
}

.gallery_img:hover {
  background-color: #19b6b6;
}

.gallery_img:hover img {
  transform: scale(1.1);
}

/***gallery part end*****/
/*******content part end*******/
/*******about part start*******/
.aboutme {
  padding: 0 30px;
}

.about_textarea {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.story {
  margin-bottom: 30px;
}

.contact ul li {
  font-size: 14px;
  width: 30%;
  height: 30px;
  display: inline-block;
}

/*******about part end*******/
/*******project1 part start*******/
#back {
  position: fixed;
  left: 3%;
  top: 10%;
  text-align: left;
}

#back a {
  transition: .5s;
  -webkit-transition: .5s;
}

#back:hover {
  left: 4%;
}

.top {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-bottom: 2px solid #121111;
  padding: 13vh 0 3vh;
}

.top_sub {
  font-size: 14px;
  letter-spacing: 5px;
  font-weight: bold;
}

.top_words {
  width: 100%;
  font-size: 52px;
  color: #121111;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.5;
  font-family: 'BowlbyOneSC';
}

.project_introduce {
  position: relative;
  display: flex;
  padding-top: 60px;
}

.project_introduce .project_introduce_list {
  width: 100%;
}

.project_introduce .introduce_block {
  display: flex;
  width: 100%;
}

.project_introduce .introduce_block .i_item {
  vertical-align: top;
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 30px;
}

.project_introduce .introduce_block .i_item:nth-child(1) {
  width: 55%;
  padding-left: 0;
}

.project_introduce .introduce_block .i_item .i_text {
  font-size: 16px;
}

.project_introduce .introduce_block .i_item.role {
  margin: 0 0 0 auto;
}

.project_introduce .introduce_block .i_item.role p {
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  color: #8a8686;
}

.project_part {
  padding-top: 20px;
}

.project_part .p_title h4{
  color: #750606;
  margin-top: 60px;
}

.project_part .p_img{
  margin-bottom: 20px;
}

.project_part .p_img img {
  width: 100%;
}

.project_part .p_paregragh{
  margin-top: 80px;
}

.project_part .p_paregragh_img{
  margin-top: 60px;
}

.project_part .p_content {
  font-size: 15px;
  line-height: 1.8;
  width: 70%;
}


/*******project1 part end*******/
/*******project6 part start*******/