
@import '_variables';

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  font-family: 'LucidaGrande', 'Noto Sans TC', "Helvetica Neue", Helvetica, Arial;
  background: $background;
  font-size: 18px;
  line-height: 1.5;

  @include mobile-width() {
    font-size: 16px;
  }
}

main {
  display: block;
}

::selection {
  background: $main;
  color: $white;
}

::-moz-selection {
  background: $main;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  letter-spacing: .5px;
  margin: 0;

  &.color-red{
    color: $main;
  }
}

h1 {
  font-size: 36px;

  @include mobile-width() {
    font-size: 32px;
  }
}

h2 {
  font-size: 32px;

  @include mobile-width() {
    font-size: 28px;
  }
}

h3 {
  font-size: 28px;

  @include mobile-width() {
    font-size: 24px;
  }
}

h4 {
  font-size: 22px;

  @include mobile-width() {
    font-size: 18px;
  }
}

h5 {
  font-size: 18px;

  @include mobile-width() {
    font-size: 16px;
  }
}

p {
  line-height: 1.6;
  font-size: 18px;
  margin: 0;
  padding: 0;

  &.note {
    color: $gray;
    font-size: 16px;
  }

  &.secret{
    color: $gray;
    font-size: 14px;
    margin-top: 0.5rem;
  }
}

a {
  color: $black;
  text-decoration: none;

  &.main_link{
    color: $main;
    text-decoration: underline;
  }

  &.white_link {
    color: $white;
    text-decoration: underline;

    &:hover {
      color: $white;
      // text-decoration: underline;
    }
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    line-height: 1.5;

  }

  &.disc{

    li{
      list-style: disc;
      list-style-position: inside;
    }
  }

}


ol {
  margin: 0;
  padding: 0 20px;

  li {
    line-height: 1.5;
  }
}


hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
  display: block;
  width: 100%;
}


button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}


button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

textarea {
  overflow: auto;
}


[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
