@import '_variables';

.content_wrap {
    max-width: 950px;
    margin: 0 auto;
}

.project-wrap {
    padding: 3rem 1rem;

    h3 {
        margin-bottom: 1.5rem;
        line-height: 1.2;
    }

    h5,
    h4 {
        margin-bottom: 0.75rem;
        line-height: 1.2;

        span {
            color: $red;
            font-size: 16px;
        }
    }
}

.lore-title {
    margin-bottom: 2rem;
}

.project_lore {
    display: flex;
    flex-wrap: wrap;

    .lore-item {
        margin-bottom: 2rem;

        span {
            font-size: 12px;
            color: $gray;
        }

        &:last-of-type {
            margin-top: -3.5rem;

            @include mobile-width() {
                margin-top: 0rem;
            }
        }
    }

    .lg-lore {
        flex: 1 0 66.6667%;
        max-width: 66.6667%;

        p {
            padding-right: 5rem;

            @include mobile-width() {
                padding-right: 0rem;
            }
        }

        @include mobile-width() {
            flex: 1 0 100%;
            max-width: 100%;
        }
    }

    .sm-lore {
        flex: 1 0 33.3334%;
        max-width: 33.3334%;

        @include mobile-width() {
            flex: 1 0 100%;
            max-width: 100%;
        }
    }
}



.main_title {
    width: 100%;
    height: 550px;
    max-height: 550px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include pad-width() {
        height: 300px;
    }

    @include mobile-width() {
        height: 160px;
    }

    &.triplei {
        background-image: url(../img/T-n-0.png);
    }

    &.smartbeb {
        background-image: url(../img/S-1.jpg);
    }

    &.iot {
        background-image: url(../img/iot-0.jpg);
    }

    .title_text {
        color: $white;
        padding: 1rem;
        text-align: center;
        max-width: 600px;
        margin: auto;

        .title_p {
            font-size: 18px;
            line-height: 2;

            @include mobile-width() {
                font-size: 16px;
            }
        }

        a {
            display: inline-block;
            margin-top: 30px;
        }

        .secret {
            color: $gray;
            opacity: .6;
        }
    }
}

.project_text {
    text-align: left;
    max-width: 950px;
    margin: 0 auto;
    padding: 2.5rem 0 1rem;
    position: relative;

    @include mobile-width() {
        padding: 0;
    }

    h4 {
        margin-top: 2.5rem;
    }

    h5 {
        margin-top: 2rem;
    }

    p {
        margin-bottom: 0.5rem;

        &:last-of-type {
            margin-bottom: 2rem;
        }
    }

    .all_img {
        margin-top: 1.5rem;
    }

    ol {
        margin: 1rem 0;

        li {
            margin: 0.5rem 0;
        }
    }

}

.banner_text {
    max-width: 950px;
    margin: 0 auto;
    padding: 30px 16px 30px;
}

.project_both {
    text-align: left;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    margin-left: -1rem;
    margin-right: -1rem;

    .both_block {
        margin-top: 1rem;
        padding: 1rem;
    }

    .block_img {
        overflow: hidden;
        width: 80px;
        height: 80px;

        img {
            width: 100%;
        }
    }

    .block_text {
        margin-top: 1rem;

        h5,
        p {
            margin: 0;
        }

        p {
            margin-top: 0.5rem;
        }
    }
}

.numberlist {
    margin: 0 auto;
    text-align: left;
    background-color: #d8d8d8;
    padding: 1rem;
}

.highlight {
    padding: 32px 16px;
    text-align: center;

    i {
        font-size: 20px;
        color: $dark-gray;
    }

}

.project_imgs {
    margin: 0 auto;
    padding: 3.5rem 1rem;

    @include mobile-width() {
        padding: 0;
    }

    .project_imgs_title {
        max-width: 950px;
        margin: 0 auto;
    }

    .all_img {
        margin: 1.5rem auto 0;
    }

    .square_img {
        max-width: 400px;
    }

    .long_img {
        max-width: 950px;
    }

    img {
        width: 100%;
    }

    span {
        font-size: 14px;
        color: $gray;
        text-align: center;
        display: block;
        line-height: 3;
    }

    &.whole-img {
        max-width: unset;
    }
}

.imgs_flex {
    display: flex;

    .imgs_left {
        flex: 1 0 50%;
        max-width: 50%;
        padding-right: 10%;
    }

    .imgs_right {
        flex: 1 0 40%;
        max-width: 40%;
        margin: 0;
    }
}

.project_quote {
    padding: 2.5rem 0 1rem;
    margin: 0 auto;
    max-width: 950px;

    .quote {
        padding-left: 1.5rem;
        border-left: 5px solid $red;
        line-height: 2;
        margin: 15px 0;

    }

}



.about_me {
    max-width: 600px;
    margin: 0 auto;
    display: flex;

    .about_img {
        border-radius: 99em;
        flex: 1 0 150px;
        width: 150px;
        height: 150px;
        background-color: $gray;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .about_text {
        padding-left: 40px;
    }

}



//masnory

.masnory {
    max-width: 960px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    margin: 0 auto;
    padding: 0 16px;

    @include pad-width() {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    @include mobile-width() {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .m_item {
        display: inline-block;
        margin: .5rem 0;
        width: 100%;
        transition: .3s ease all;

        img {
            width: 100%;
            border-radius: 6px;
        }
    }
}

.persona_list {
    display: flex;

    li {
        margin: auto 0;
        margin-right: 2rem;
        display: flex;
    }

    .persona_img {
        width: 35px;

        img {
            width: 100%;
        }
    }

    .persona_text {
        display: block;
        margin: auto 0;
        padding-left: 8px;
    }
}

.img-text-wrap {
    display: flex;
    flex-wrap: wrap;

    .img-text-vertical {
        flex: 1 0 40%;
        max-width: 40%;
        padding-right: 10%;

        @include mobile-width() {
            flex: 1 0 100%;
            max-width: 100%;
            padding-right: 0%;
        }

        .img-text-vertical-img {
            width: 100px;
            margin-top: 1rem;
        }

        .img-text-vertical-text {

            h5 {
                margin-top: 1rem
            }
        }
    }
}