$pc-media:1099px;
$padb-media:991px;
$mobile-media:767px;
$min-media:414px;

@mixin pc-width() {
    @media all and (min-width: $pc-media) {
        @content;
    }
}

@mixin pad-width() {
    @media all and (max-width: $pc-media) {
        @content;
    }
}

@mixin mobile-width() {
    @media all and (max-width: $mobile-media) {
        @content;
    }
}

$red:#750606;
$black:#121111;
$dark-gray:#333333;
$gray:#8a8686;
$pale-gray:#d8d8d8;
$white-gray:#F4F4F4;
$white:#ffffff;
$green:#19b6b6;

.content_wrap{
    max-width: 1140px;
    margin: 0 auto;
}

.main_title{
    width: 100%;
    height: 460px;
    max-height: 600px;
    display: flex;

    @include pad-width(){
        height: 500px;
    }

    @include mobile-width(){
        height: 600px;
    }

    &.triplei{
        background: url(../img/T-1.jpg) center no-repeat $dark-gray;
    }

    &.smartbeb{
        background: url(../img/S-1.jpg) center no-repeat $dark-gray;
    }

    &.screea{
        background: url(../img/A-1.jpg) center no-repeat $dark-gray;
    }

    .title_text{
        color: $white;
        padding: 1rem;
        text-align: center;
        max-width: 600px;
        margin: auto;

        .title_p{
            font-size: 18px;
            line-height: 2;

            @include mobile-width(){
                font-size: 16px;
            }
        }

        a{
            display: inline-block;
            margin-top: 30px;
        }

        .secret{
            color:$gray;
            opacity: .6;
        }
    }
}

.project_text{
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    padding: 60px 16px 30px;
    position: relative;

    @include mobile-width(){
        padding: 40px 16px 20px;
    }

    h3,h4{
        span{
            color: $red;
            font-size: 18px;
        }
    }


}

.project_both{
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 16px 30px;
    margin-top: -16px;

    .both_block{
        display: flex;
        margin-top: 32px;
    }

    .block_img{
        overflow: hidden;
        width: 100px;
        height: 100px;

        img{
            width: 100%;
        }
    }

    .block_text{
        margin-left: 16px;
    }
}

.numberlist{
    margin: 0 auto;
    text-align: left;
    background-color: #d8d8d8;
    padding: 1rem;
}

.highlight{
    padding: 32px 16px;
    text-align: center;

    i{
        font-size: 20px;
        color: $dark-gray;
    }
    
}

.project_imgs{
    margin: 0 auto;
    padding: 60px 16px 30px;

    @include mobile-width(){
        padding: 40px 16px 20px;
    }

    .all_img{
        margin: 0 auto;
    }

    .square_img{
        max-width: 400px;
    }

    .long_img{
        max-width: 800px;
    }

    img{
        width: 100%;
    }

    span{
        font-size: 14px;
        color: $gray;
        text-align: center;
        display: block;
        line-height: 3;
    }
}

.project_quote{
    padding: 30px 16px;
    margin: 0px auto;
    max-width: 600px;

    .quote{
        padding-left: 32px;
        border-left: 3px solid $red;
        line-height: 2;
        margin: 15px 0;
        
    }

}



.about_me{
    max-width: 600px;
    margin: 0 auto;
    display: flex;

    .about_img{
        border-radius: 99em;
        flex: 1 0 150px;
        width: 150px;
        height: 150px;
        background-color: $gray;
        overflow: hidden;

        img{
            width: 100%;
        }
    }

    .about_text{
        padding-left: 40px;
    }

}