@import '_normalize';
@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem 0;

}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
}

.portfolio_list-gallery {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem 0;
}

.w-50 {
    flex: 1 0 50%;
    width: 50%;
    max-width: 50%;

    @include mobile-width() {
        flex: 1 0 100%;
        width: 100%;
        max-width: 100%;
    }
}

.w-100 {
    flex: 1 0 100%;
    width: 100%;
    max-width: 100%;
}

.w-30 {
    flex: 1 0 33%;
    width: 33%;
    max-width: 33%;

    @include mobile-width() {
        flex: 1 0 100%;
        width: 100%;
        max-width: 100%;
    }
}

.w-25 {
    flex: 1 0 25%;
    width: 25%;
    max-width: 25%;

    &:nth-of-type(odd) {
        margin-top: -30px;
    }

    @include pad-width() {
        flex: 1 0 50%;
        width: 50%;
        max-width: 50%;
    }

    @include mobile-width() {
        flex: 1 0 100%;
        width: 100%;
        max-width: 100%;
    }

}

video {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-70%);
    width: 100%;
    z-index: -5;
    opacity: 0.9;
}

header {
    position: relative;
    width: 100%;
}


.mabel_head {
    margin: 0 auto;
    display: flex;
    padding: 2rem 0;
    color: $white;
    // position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;

    nav {
        ul {
            display: flex;
            align-items: center;

            li {
                display: inline-block;

                a {
                    padding: 1rem;
                }

                &.menu {
                    a {

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}





.mabel_logo {
    // flex: auto;
    // margin-right: 16px;
    a {
        display: block;
        width: 30px;
        margin: 0 auto;
    }

}


.landing_page {
    // height: 50vh;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem 4rem;
    }

    h2 {
        font-size: 50px;
        line-height: 1.5;
        letter-spacing: 0;
        font-weight: bolder;

    }

    .sub_title {
        font-weight: bold;
        font-size: 20px;
        width: 60%;
        text-align: center;
        margin-bottom: 30px;
        color: $gray;
    }

    // .state{
    //     border-bottom: 2px solid $main;
    // }

    .me-link {
        display: flex;
        margin-top: 16px;

        li {
            margin: 0 8px;

            &:first-child {
                margin-left: 0;
            }

            a {
                display: block;
                padding: 4px;
                // background-color: $gray;
                border-radius: 4px;
                width: 24px;
                height: 24px;

                // &:hover{
                //     background-color: $main;
                // }
            }
        }
    }
}


footer {
    position: relative;
    width: 100%;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    font-size: 12px;

    &.fix_footer {
        position: fixed;
    }

    &.darkmod {
        background-color: $background;
        color: $white;
    }


    .footer_text {
        display: flex;
        margin: 0 auto;
        padding: 16px;
        align-items: center;
        justify-content: center;

        @include mobile-width() {
            display: block;
        }

        p {
            font-size: 12px;

        }
    }

    .material-icons {
        font-size: 12px;
        color: $main;
    }

}



.portfolio_list-title {
    text-align: center;

    h2 {
        margin-bottom: 0.5rem;

    }
}

.portfolio_list-gallery {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.list_container {
    height: 75vh;
    max-height: 75vh;
    display: flex;

    .owl-carousel {
        margin: auto;
    }
}

.gallery-item {
    padding: 0.5rem;
    position: relative;
    transition: .3s ease-out;
    cursor: pointer;
    // margin-top: -50px;
    // box-shadow: 0px -2px 10px rgba($color: $black, $alpha: 0.2);


    @include mobile-width() {
        padding: 1rem 0rem;
    }

}

.item-inner {
    // padding: 1rem 1rem;
    border-radius: 16px;
    display: block;
    position: relative;
    z-index: 2;
    height: 240px;
    max-height: 240px;


    @include mobile-width() {
        padding: 1.5rem 1.5rem;
        padding-bottom: 10rem;
    }

    &::after {
        content: "";
        background-position: right top;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        z-index: -1;
        transition: 0.3s ease-in-out;

        @include mobile-width() {
            background-size: cover;
            background-position: center;
        }
    }

    &:hover {

        &::after {
            transform: scale(1.05);
            // box-shadow: 0px 0px 8px rgba($color: $black, $alpha: 0.8);
        }

    }

    .item-block {
        position: relative;
        width: 50%;
        max-width: 50%;
        height: 100%;
        color: $white;
        text-shadow: 2px 2px 2px $dark-gray;

        @include mobile-width() {
            width: 100%;
            max-width: 100%;
        }
    }


    .item-logo {
        width: 50px;
        margin-bottom: 1rem;
    }

    .item-content {


        h4 {
            margin-bottom: 0.5rem;
        }
    }

}

.item-wrap {
    // text-align: center;
    display: block;
    position: relative;
    z-index: 2;

    h2 {
        line-height: 1.5;
    }

    .item-logo {
        width: 50px;
        margin: 0 auto;
        margin-bottom: 0.5rem;
    }

    .item-img {
        max-width: 600px;
        margin: auto;
        filter: grayscale(1);
        transition: .3s;

    }

    .item-content {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 6;
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;

        font-style: normal;

        .item-number {

            .item-number-index {
                font-size: 24px;
                text-align: left;
                font-weight: normal;
                margin-bottom: 16px;
                display: block;
            }

        }

        h2 {
            white-space: pre-line;
            font-size: 90px;
            letter-spacing: 8px;
            line-height: 1;
            font-weight: bold;
            text-shadow: 2px 2px 16px #000;
        }

        p {
            font-size: 26px;
            margin-top: 16px;
            font-weight: normal;
        }

        @include pad-width() {
            h2 {
                font-size: 30px;
            }

            p {
                font-size: 20px;
            }
        }
    }
}

.owl-item {
    opacity: 0.3;

    .gallery-item {
        transform: scale(0.9);

        // .item-img {
        //     opacity: 0.4;

        // }
    }

    &.center {
        opacity: 1;

        .gallery-item {
            transform: scale(1.1);
            // transition: 0.3;

            &:hover {
                .item-img {
                    filter: grayscale(0);
                    opacity: 0.8;
                }

            }
        }

    }
}



.item-tag {
    margin-top: 1.5rem;

    ul {
        li {
            display: inline-block;
            font-size: 14px;
            opacity: 0.6;
            margin-right: 0.5rem
        }
    }
}

.digital-insurance {

    .item-inner {

        &::after {
            background-image: url(../img/index-smartbnb.jpg);
        }
    }
}

.smarthome-app {

    .item-inner {

        &::after {
            background-image: url(../img/index-iot.jpg);
        }
    }

}

.triple {

    .item-inner {
        background-color: $g-iii;

        &::after {
            background-image: url(../img/T-n-0.png);
        }
    }

}

%normal {
    background-color: #ffffff;
    border: 2px solid #e9e9e9;
}

.holotile {

    .item-inner {

        &::after {
            background-image: url(../img/index-holo.jpg);
        }
    }

}

.publish {

    .item-inner {

        &::after {
            background-image: url(../img/index-publish.jpg);
        }
    }

}

.teller {

    .item-inner {

        &::after {
            background-image: url(../img/index-teller.png);
        }
    }

}

.craftmind {

    .item-inner {

        &::after {
            background-image: url(../img/index-craftmind.jpg);
        }
    }
}


.main-block {

    .item-inner {
        @extend %normal;

        &::after {
            background-image: url(../img/index-holo.png);
        }
    }

}

.owl-carousel .owl-stage-outer {
    overflow: visible;

    @include mobile-width() {
        overflow: hidden;
    }
}

.owl-dots {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.owl-carousel button.owl-dot {
    background-color: $pale-gray;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin: 8px;

    &.active {
        background-color: $main;
    }
}

.owl-nav {
    opacity: 0;

    .owl-prev,
    .owl-next {
        font-size: 200px !important;
        color: $pale-gray !important;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 18%;

        &:hover,
        &:active {
            color: $main !important;

        }
    }

    .owl-prev {
        left: 0%;
        cursor: url(../img/mouseb.svg), pointer !important;

    }

    .owl-next {
        right: 0%;
        cursor: url(../img/mouse.svg), pointer !important;

    }

    @include mobile-width() {
        display: none
    }
}

.owl-carousel .owl-nav button.owl-next {
    padding: 12% 0 !important;

}

.owl-carousel .owl-nav button.owl-prev {
    padding: 12% 0 !important;

}

.owl-carousel .owl-item img {
    transition: .3s;
    margin: auto;

    @include pad-width() {
        width: 90%;
    }
}



.loading_bg {
    background-color: $white-gray;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.loading {


    .loading-bar {
        background-color: $pale-gray;
        border-radius: 99em;
        width: 100%;
        height: 3px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    }

    #loading-progress {
        background-color: $main;
        // border-radius: 99em;
        width: 0%;
        height: 3px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // 

        &.spread {
            animation: progress .5s 1 ease-out forwards;
            animation-delay: 2s;
        }
    }
}

@keyframes progress {
    from {
        height: 3px;
    }

    to {
        height: 100vh;
    }
}

.service {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;

    a {
        display: inline-block;
        margin: 0;
        width: 50%;
    }

    .service-text {
        background-color: $white-gray;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        color: $white;
    }

    .art {
        text-align: right;

        .service-text {
            background-color: rgba($color: $black, $alpha: 0.5);

            &:hover {
                background-color: rgba($color: $white, $alpha: 0.2);
            }
        }
    }


    .ux {
        .service-text {
            background-color: rgba($color: $black, $alpha: 0.8);

            &:hover {
                background-color: rgba($color: $white, $alpha: 0.05);
            }
        }
    }




    // .ui{
    //     width: 0;
    //     height: 0;
    //     border-top: 40vw solid $main;
    //     border-right: 40vw solid transparent;
    //     border-left: 40vw solid transparent;
    // }
}

.item-masonry {
    width: 100%;
    margin: 0px auto;
    column-count: 3;
    column-gap: 0px;

    .item {
        padding: 2px;
        box-sizing: border-box;
        margin: 0 auto;
        break-inside: avoid;

        img {
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

}

.item-square {
    display: flex;
    flex-wrap: wrap;

    .item {
        flex: 1 0 32%;
        max-width: 32%;
        padding: 4px;

        @include mobile-width() {
            flex: 1 0 100%;
            max-width: 100%;
        }

        .item-inner {
            background-color: $white;
            border-radius: 4px;
            box-shadow: 2px 2px 6px rgba($color: $pale-gray, $alpha: 0.5);
        }


    }
}

@import '_project';