@import '_normalize';
@import '_variables';

.wrapper {
    position: relative;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
}

.list_container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 0;
}

.w-50 {
    flex: 1 0 50%;
    width: 50%;
    max-width: 50%;

    @include mobile-width() {
        flex: 1 0 100%;
        width: 100%;
        max-width: 100%;
    }
}

.w-100 {
    flex: 1 0 100%;
    width: 100%;
    max-width: 100%;
}


.mabel_head {
    margin: 0 auto;
    display: flex;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;

    nav {
        ul {
            li {
                display: inline-block;

                a {
                    padding: 1rem;

                    &:hover {
                        border-bottom: 5px solid $red;
                    }
                }
            }
        }
    }
}

.mabel_logo {
    flex: auto;

    a {
        display: block;
        width: 30px;
    }
}


footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 12px;

    &.fix_footer {
        position: fixed;
    }

    &.darkmod {
        background-color: #141414;
        color: $white;
    }


    .footer_text {
        display: flex;
        margin: 0 auto;
        padding: 0 16px;
        align-items: center;
        justify-content: center;

        @include mobile-width() {
            display: block;
        }

        p {
            font-size: 12px;

        }
    }

    .material-icons {
        font-size: 12px;
        color: $red;
    }

}

.landing_page {
    height: 100vh;
    background-color: $header-color;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4px;
        height: 75%;
        background-color: $header-color;
        z-index: 1;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 95%;
        background-color: $black;
        z-index: 0;
    }
}

.landing-bg {
    position: relative;
    height: 100vh;
    z-index: 2;
    animation: loading 1.5s both ease-in-out;
    animation-delay: 1s;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0%;
        background-image: url(../img/link_circle-42.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 35%;
        width: 100%;
        height: 100%;
        animation: circle 40s linear infinite;

        @include mobile-width() {
            background-size: 100%;
        }
    }

}

@keyframes circle {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes loading {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.big-title {
    position: absolute;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.5;
    padding: 2rem 0;
    background-color: $header-color;
    color: $black;
    z-index: 3;
    animation: loading 1s both ease-in-out;
    animation-delay: .2s;

    @include mobile-width() {
        font-size: 42px;
    }
}

@keyframes slide-down {
    from {
        transform: translate(-50%, -200%) rotate(90deg);
    }

    to {
        transform: translate(-50%, -80%) rotate(90deg);
    }
}

@keyframes slide-up {
    from {
        transform: translate(50%, 200%) rotate(90deg);
    }

    to {
        transform: translate(50%, 10%) rotate(90deg);
    }
}


.background {
    position: relative;
    opacity: 0.8;

    .work_name {
        position: fixed;
        font-size: 220px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        top: 50%;
        line-height: 1.5;
        padding: 2rem 0;
        color: $black;
        z-index: 3;
        animation-delay: 0.3s;
        z-index: -1;

        &.on-down {
            animation: slide-down 0.5s both ease-in-out;
            left: 14%;
        }

        &.on-up {
            animation: slide-up 0.5s both ease-in-out;
            right: 12%;
        }

        @include mobile-width() {
            opacity: 0.1;
        }
    }
}



.portfolio_list-title {
    text-align: center;

    h2 {
        margin-bottom: 0.5rem;

    }
}

.portfolio_list-gallery {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.gallery-item {
    padding: 1rem;
    position: relative;
    transition: .3s ease-out;
    cursor: pointer;

    @include mobile-width() {
        padding: 1rem 0rem;
    }

    // &:hover {
    //     transform: scale(1.02);
    // }
}

.item-inner {
    padding: 3rem 3rem;
    border-radius: 8px;
    display: block;
    position: relative;
    z-index: 2;
    color: $black;

    @include mobile-width() {
        padding: 1.5rem 1.5rem;
        padding-bottom: 10rem;
    }

    &::after {
        content: "";
        background-position: right -20% bottom;
        background-repeat: no-repeat;
        background-size: 60%;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        z-index: -1;

        @include mobile-width() {
            background-size: 75%;
            background-position: right bottom;
        }
    }

    .item-block {
        position: relative;
        width: 70%;
        max-width: 70%;

        @include mobile-width() {
            width: 100%;
            max-width: 100%;
        }
    }


    .item-logo {
        width: 50px;
        margin-bottom: 1rem;
    }

    .item-content {
        

        h4 {
            margin-bottom: 0.5rem;
        }
    }

}

.item-wrap {
    text-align: center;
    display: block;
    position: relative;
    z-index: 2;

    h2 {
        line-height: 1.5;
    }

    .item-logo {
        width: 50px;
        margin: 0 auto;
        margin-bottom: 0.5rem;
    }

    .item-img {
        max-width: 600px;
        margin: auto;
    }
}

.item-tag {
    margin-top: 1.5rem;

    ul {
        li {
            display: inline-block;
            font-size: 14px;
            opacity: 0.6;
            margin-right: 0.5rem
        }
    }
}

.digital-insurance {

    .item-inner {
        background-color: $g-insure;

        &::after {
            background-image: url(../img/gallery3.png);
        }
    }
}

.smarthome-app {

    .item-inner {
        background-color: $g-iot;

        &::after {
            background-image: url(../img/index-iot.png);
        }
    }

}

.erp {

    .item-inner {
        background-color: $g-erp;

        &::after {
            background-image: url();
        }
    }

}

.triple {

    .item-inner {
        background-color: $g-iii;

        &::after {
            background-image: url(../img/gallery1.png);
        }
    }

}

%normal {
    background-color: #ffffff;
    border: 2px solid #e9e9e9;
}

.holotile {

    .item-inner {
        @extend %normal;

        &::after {
            background-image: url(../img/index-holo.png);
        }
    }

}

.publish {

    .item-inner {
        @extend %normal;

        &::after {
            background-image: url(../img/index-holo.png);
        }
    }

}

.medical {

    .item-inner {
        @extend %normal;

        &::after {
            background-image: url(../img/index-holo.png);
        }
    }

}

.main-block {

    .item-inner {
        @extend %normal;

        &::after {
            background-image: url(../img/index-holo.png);
        }
    }

}

.owl-carousel .owl-stage-outer {
    overflow: visible;

    @include mobile-width() {
        overflow: hidden;
    }
}

.owl-dots {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.owl-carousel button.owl-dot {
    background-color: $pale-gray;
    width: 40px;
    height: 5px;
    border-radius: 0 0 99em 99em;
    margin: 0 2px;

    &.active {
        background-color: $red;
    }
}

.owl-nav {

    .owl-prev,
    .owl-next {
        font-size: 200px !important;
        color: $pale-gray !important;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:hover,
        &:active {
            color: $red !important;
        }
    }

    .owl-prev {
        left: 0%;
    }

    .owl-next {
        right: 0%;
    }

    @include mobile-width() {
        display: none
    }
}

.loading_bg {
    background-color: $white-gray;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.loading {


    .loading-bar {
        background-color: $pale-gray;
        border-radius: 99em;
        width: 100%;
        height: 3px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    }

    #loading-progress {
        background-color: $red;
        // border-radius: 99em;
        width: 0%;
        height: 3px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // 

        &.spread {
            animation: progress .5s 1 ease-out forwards;
            animation-delay: 2s;
        }
    }
}

@keyframes progress {
    from {
        height: 3px;
    }

    to {
        height: 100vh;
    }
}

.service {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;

    a {
        display: inline-block;
        margin: 0;
        width: 50%;
    }

    .service-text {
        background-color: $white-gray;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        color: $white;
    }

    .art {
        text-align: right;

        .service-text {
            background-color: rgba($color: $black, $alpha: 0.5);

            &:hover {
                background-color: rgba($color: $white, $alpha: 0.2);
            }
        }
    }


    .ux {
        .service-text {
            background-color: rgba($color: $black, $alpha: 0.8);

            &:hover {
                background-color: rgba($color: $white, $alpha: 0.05);
            }
        }
    }




    // .ui{
    //     width: 0;
    //     height: 0;
    //     border-top: 40vw solid $red;
    //     border-right: 40vw solid transparent;
    //     border-left: 40vw solid transparent;
    // }
}

.item-masonry {
    width: 100%;
    margin: 0px auto;
    column-count: 3;
    column-gap: 0px;

    .item {
        padding: 2px;
        box-sizing: border-box;
        margin: 0 auto;
        break-inside: avoid;

        img {
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
      }
    }
    
}

.item-square{
    display: flex;
    flex-wrap: wrap;

    .item{
        flex: 1 0 32%;
        max-width: 32%;
        padding: 4px;

        @include mobile-width(){
            flex: 1 0 100%;
        max-width: 100%;
        }

        .item-inner{
            background-color: $white;
            border-radius: 4px;
            box-shadow: 2px 2px 6px rgba($color: $pale-gray, $alpha: 0.5);
        }
        
        
    }
}

@import '_project';